<div class="row">
    <h1 id="nombreproyectos"> Proyecto realizado</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto</h3>
            <p>Este es el primer proyecto completo que realizo, todavia hay muchas cosas para mejorarlo, funciona y me siento satisfecha con el resultado logrado.</p>
            <p>Descripción: Un portfolio con informaciòn sobre mi, experiencia y educación editable, un espacio para mis proyectos y mis redes de contacto.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>